<a style type="text/css">
* {margin:0px;font-size:100%;}
body {background:#d6d6d6;}
<a #content{margin:0 auto;background:#ededed;width:600px;padding:6px;font-family:verdana;border-right:1px solid #999999;border-left:1px solid #999999;height:100%;}
a:link, a:active, a:visited {color:#3399cc;text-decoration:none;}
a:hover {color:#ffffff;text-decoration:underline;}
.blue {color:#336699;}
</style>
</head>
<body>
<div id="content"><br />
<br />
<strong>Support</strong><br />
<>

<strong>Password for .rar:</strong><br />
<div style="background:#eea9a9;border:2px solid #e12929;padding:5px;margin:5px;">tcheats</div>
OR<br />
<div style="background:#eea9a9;border:2px solid #e12929;padding:5px;margin:5px;">